<div data-controller="google-search">
  <input data-google-search-target="searchURL" hidden disabled value="https://cse.google.com/cse.js?cx=<%= SEARCH_ENGINE_ID %>">
  <div class="gcse-search"></div>
</div>
